In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [96]:
df = pd.read_csv("C:\\Users\\ppp\\Downloads\\Customers.csv")  
df1=pd.read_csv("C:\\Users\\ppp\\Downloads\\Products.csv") 
df2=pd.read_csv("C:\\Users\\ppp\\Downloads\\Transactions.csv")

In [97]:
df

    CustomerID        CustomerName         Region  SignupDate
0        C0001    Lawrence Carroll  South America  2022-07-10
1        C0002      Elizabeth Lutz           Asia  2022-02-13
2        C0003      Michael Rivera  South America  2024-03-07
3        C0004  Kathleen Rodriguez  South America  2022-10-09
4        C0005         Laura Weber           Asia  2022-08-15
..         ...                 ...            ...         ...
195      C0196         Laura Watts         Europe  2022-06-07
196      C0197    Christina Harvey         Europe  2023-03-21
197      C0198         Rebecca Ray         Europe  2022-02-27
198      C0199      Andrea Jenkins         Europe  2022-12-03
199      C0200         Kelly Cross           Asia  2023-06-11

[200 rows x 4 columns]

In [98]:
df1

   ProductID              ProductName     Category   Price
0       P001     ActiveWear Biography        Books  169.30
1       P002    ActiveWear Smartwatch  Electronics  346.30
2       P003  ComfortLiving Biography        Books   44.12
3       P004            BookWorld Rug   Home Decor   95.69
4       P005          TechPro T-Shirt     Clothing  429.31
..       ...                      ...          ...     ...
95      P096     SoundWave Headphones  Electronics  307.47
96      P097       BookWorld Cookbook        Books  319.34
97      P098         SoundWave Laptop  Electronics  299.93
98      P099   SoundWave Mystery Book        Books  354.29
99      P100        HomeSense Sweater     Clothing  126.34

[100 rows x 4 columns]

In [99]:
df2

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68
...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86

# All Datasets are  Merge

In [100]:
merged_data = df2.merge(df, on='CustomerID').merge(df1, on='ProductID')

In [101]:
merged_data

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,CustomerName,Region,SignupDate,ProductName,Category,Price_y
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics,300.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,T00630,C0031,P093,2024-10-08 23:58:14,2,609.88,304.94,Tina Miller,South America,2024-04-11,TechPro Vase,Home Decor,304.94
996,T00672,C0165,P044,2024-07-28 00:09:49,4,75.28,18.82,Juan Mcdaniel,South America,2022-04-09,ActiveWear Running Shoes,Clothing,18.82
997,T00711,C0165,P044,2024-06-11 15:51:14,4,75.28,18.82,Juan Mcdaniel,South America,2022-04-09,ActiveWear Running Shoes,Clothing,18.82
998,T00878,C0165,P044,2024-09-24 21:15:21,3,56.46,18.82,Juan Mcdaniel,South America,2022-04-09,ActiveWear Running Shoes,Clothing,18.82
999,T00157,C0169,P044,2024-11-09 09:07:36,2,37.64,18.82,Jennifer Shaw,South America,2023-04-13,ActiveWear Running Shoes,Clothing,18.82

# Using Feature Engineering

In [102]:
Customers_features = merged_data.groupby('CustomerID').agg({
    'TransactionID': 'count',  
    'TotalValue': 'sum',       
    'Quantity': 'sum',         
    'ProductID': lambda x: x.mode()[0],  
    'Region': 'first',         
    'Price_x': 'mean'           
}).reset_index()

In [103]:
Customers_features

,CustomerID,TransactionID,TotalValue,Quantity,ProductID,Region,Price_x
0,C0001,5,3354.52,12,P022,South America,278.334000
1,C0002,4,1862.74,10,P004,Asia,208.920000
2,C0003,4,2725.38,14,P002,South America,195.707500
3,C0004,8,5354.88,23,P008,South America,240.636250
4,C0005,3,2034.24,7,P012,Asia,291.603333
...,...,...,...,...,...,...,...
194,C0196,4,4982.88,12,P079,Europe,416.992500
195,C0197,3,1928.65,9,P013,Europe,227.056667
196,C0198,2,931.83,3,P064,Europe,239.705000
197,C0199,4,1979.28,9,P008,Europe,250.610000
198,C0200,5,4758.60,16,P034,Asia,296.506000

In [104]:
Customers_features.columns = ['CustomerID', 'TotalTransactions', 'TotalSpent', 'TotalQuantity', 'MostPurchasedProduct', 'Region', 'AveragePrice']

In [105]:
Customers_features.columns

Index(['CustomerID', 'TotalTransactions', 'TotalSpent', 'TotalQuantity',
       'MostPurchasedProduct', 'Region', 'AveragePrice'],
      dtype='object')

# Normalize features

In [106]:
scaler = StandardScaler()
normalized_features = scaler.fit_transform(Customers_features[['TotalTransactions', 'TotalSpent', 'TotalQuantity', 'AveragePrice']])

In [107]:
normalized_features

array([[-1.14581896e-02, -6.17014282e-02, -1.22032964e-01,
         9.46702248e-02],
       [-4.67494136e-01, -8.77743532e-01, -4.48000209e-01,
        -9.04015921e-01],
       [-4.67494136e-01, -4.05857221e-01,  2.03934282e-01,
        -1.09410928e+00],
       [ 1.35664965e+00,  1.03254704e+00,  1.67078689e+00,
        -4.47701928e-01],
       [-9.23530083e-01, -7.83928612e-01, -9.36951078e-01,
         2.85581271e-01],
       [-4.67494136e-01,  4.15879421e-01, -1.22032964e-01,
         8.67287344e-01],
       [-9.23530083e-01, -4.85482293e-01, -7.73967455e-01,
         1.12604452e+00],
       [ 2.26872154e+00,  4.39970436e-01,  1.18183602e+00,
        -5.84040413e-01],
       [-9.23530083e-01, -1.40630171e+00, -1.58888557e+00,
         3.89602086e-01],
       [-4.67494136e-01, -9.57166204e-01, -1.22032964e-01,
        -1.70467406e+00],
       [-1.14581896e-02,  1.43695808e-01,  4.09506590e-02,
         3.00323548e-01],
       [ 9.00613703e-01,  9.64923716e-01,  1.01885240e+00,
        -1.37449092e-02],
       [ 9.00613703e-01,  1.38575064e+00,  8.55868773e-01,
         7.05501167e-01],
       [-1.83560198e+00, -1.72239508e+00, -1.75186919e+00,
        -1.61748649e+00],
       [-1.37956603e+00, -1.26353893e+00, -1.42590195e+00,
         1.20905974e+00],
       [-1.14581896e-02,  2.22697270e-01, -4.48000209e-01,
         1.72067526e+00],
       [ 1.35664965e+00,  7.03751732e-01,  1.34481964e+00,
        -6.61372623e-01],
       [-1.14581896e-02,  7.19084865e-01,  8.55868773e-01,
        -2.50569536e-01],
       [ 4.44577757e-01, -7.01010446e-01, -2.85016587e-01,
        -4.47743892e-01],
       [-1.83560198e+00, -1.39212827e+00, -1.58888557e+00,
         5.13861159e-01],
       [ 1.35664965e+00,  1.06812560e+00,  6.92885150e-01,
         5.29777207e-01],
       [ 4.44577757e-01,  6.49732938e-01,  3.66917905e-01,
         1.09983201e-01],
       [ 4.44577757e-01,  9.25204175e-01,  2.03934282e-01,
         1.76652307e+00],
       [ 9.00613703e-01,  8.73630943e-02,  2.03934282e-01,
         3.78064771e-01],
       [-4.67494136e-01, -1.02704328e+00, -7.73967455e-01,
        -1.27783623e+00],
       [-4.67494136e-01,  4.47114950e-02, -1.22032964e-01,
         6.35290713e-01],
       [-4.67494136e-01, -4.94716088e-01, -1.22032964e-01,
        -5.49834398e-01],
       [ 1.35664965e+00,  1.83377022e+00,  1.83377051e+00,
         2.42533007e-01],
       [-4.67494136e-01, -9.19793403e-01, -4.48000209e-01,
        -9.19878016e-01],
       [-1.14581896e-02, -5.01969649e-01,  4.09506590e-02,
        -7.03973679e-01],
       [-4.67494136e-01, -7.99715776e-01, -4.48000209e-01,
        -5.34403925e-01],
       [-9.23530083e-01, -1.52856197e+00, -1.26291832e+00,
        -1.29851810e+00],
       [-1.83560198e+00, -1.82415282e+00, -1.75186919e+00,
        -2.95565744e+00],
       [ 4.44577757e-01, -2.15590718e-01,  6.92885150e-01,
        -1.11416770e+00],
       [-4.67494136e-01, -4.81220962e-01, -4.48000209e-01,
        -5.33576650e-01],
       [-9.23530083e-01, -8.69417800e-01, -7.73967455e-01,
        -6.37081917e-01],
       [-1.14581896e-02,  4.29664470e-01,  2.03934282e-01,
         3.93381173e-01],
       [-1.14581896e-02, -4.21463867e-01,  4.09506590e-02,
        -1.02202128e+00],
       [ 4.44577757e-01,  4.22460141e-01,  8.55868773e-01,
        -7.89923934e-01],
       [-9.23530083e-01,  2.74653778e-01, -4.48000209e-01,
         1.80685571e+00],
       [ 9.00613703e-01,  1.46737783e+00,  1.67078689e+00,
        -2.51362898e-01],
       [-9.23530083e-01, -5.82486372e-01, -1.09993470e+00,
         2.01245149e+00],
       [-9.23530083e-01, -1.27784912e+00, -1.09993470e+00,
        -1.19703905e+00],
       [-9.23530083e-01, -1.29756904e-01, -9.36951078e-01,
         2.26240837e+00],
       [ 9.00613703e-01,  1.39736947e+00,  1.67078689e+00,
        -5.78525299e-02],
       [ 9.00613703e-01,  1.18185773e+00,  1.01885240e+00,
         2.45413054e-01],
       [ 9.00613703e-01, -3.26450961e-01,  4.09506590e-02,
        -2.44230864e-01],
       [-1.14581896e-02,  2.09853105e-01, -1.22032964e-01,
         1.20888710e+00],
       [ 1.35664965e+00, -6.30083085e-01,  6.92885150e-01,
        -1.62926616e+00],
       [-9.23530083e-01, -2.17981221e-01, -7.73967455e-01,
         1.77712178e+00],
       [ 9.00613703e-01,  1.22110135e+00,  5.29901527e-01,
         6.12784728e-01],
       [-4.67494136e-01, -5.35704728e-01, -4.48000209e-01,
        -3.61935112e-01],
       [ 4.44577757e-01,  1.01153031e+00,  8.55868773e-01,
        -2.60228269e-01],
       [ 1.35664965e+00,  2.50159022e+00,  1.83377051e+00,
         8.45040845e-01],
       [-1.14581896e-02, -3.33485712e-01, -1.22032964e-01,
        -6.17361604e-01],
       [-1.14581896e-02, -1.55560110e-01, -1.22032964e-01,
         5.29485863e-01],
       [ 4.44577757e-01,  5.84817389e-01,  5.29901527e-01,
        -1.25754150e-01],
       [-1.83560198e+00, -1.67990212e+00, -1.91485281e+00,
         1.79246832e+00],
       [ 1.35664965e+00,  1.97255613e+00,  1.34481964e+00,
         1.20436586e+00],
       [-1.83560198e+00, -1.85165727e+00, -1.75186919e+00,
        -3.31735637e+00],
       [-9.23530083e-01, -7.27026992e-01, -1.09993470e+00,
         2.92487217e-01],
       [-9.23530083e-01, -9.99839684e-01, -7.73967455e-01,
        -8.04167448e-01],
       [-1.37956603e+00, -1.14281581e+00, -1.26291832e+00,
        -8.87398488e-01],
       [-1.14581896e-02,  3.13147981e-01,  4.09506590e-02,
         3.27774684e-01],
       [ 2.26872154e+00,  2.29553108e+00,  2.32272138e+00,
         5.82125838e-02],
       [-9.23530083e-01,  1.81593753e-01, -6.10983832e-01,
         1.91946100e+00],
       [ 4.44577757e-01,  3.41084587e-01,  2.03934282e-01,
         2.07457755e-01],
       [ 1.35664965e+00,  1.35832277e+00,  1.50780326e+00,
        -2.15525456e-01],
       [-1.14581896e-02, -3.21992700e-01, -4.48000209e-01,
         1.48104984e-01],
       [-4.67494136e-01, -1.86986740e-01, -1.22032964e-01,
         1.26768487e-01],
       [-9.23530083e-01, -1.13042021e+00, -9.36951078e-01,
        -1.27334017e+00],
       [-1.14581896e-02, -2.55857285e-01,  4.09506590e-02,
        -9.01915362e-01],
       [-9.23530083e-01, -7.69541835e-01, -4.48000209e-01,
        -3.12886109e-01],
       [-9.23530083e-01, -2.25426241e-01, -7.73967455e-01,
         1.52730876e+00],
       [ 1.81268560e+00,  1.30282700e+00,  2.48570500e+00,
        -7.51909258e-01],
       [-1.14581896e-02, -6.20466372e-01, -2.85016587e-01,
        -6.08574387e-02],
       [-9.23530083e-01, -1.43868564e+00, -9.36951078e-01,
        -1.45438147e+00],
       [-1.83560198e+00, -1.35213522e+00, -1.75186919e+00,
         3.25163721e+00],
       [-4.67494136e-01,  4.29002569e-01, -1.22032964e-01,
         1.25333693e+00],
       [-1.83560198e+00, -1.34557091e+00, -1.58888557e+00,
         9.22031355e-01],
       [ 4.44577757e-01,  4.11175356e-02,  2.03934282e-01,
        -5.05868939e-01],
       [ 9.00613703e-01,  2.24586661e+00,  1.67078689e+00,
         1.15899163e+00],
       [-9.23530083e-01, -1.54508215e+00, -1.42590195e+00,
        -1.10189046e+00],
       [ 1.81268560e+00,  5.32685833e-01,  1.18183602e+00,
        -7.06285253e-01],
       [-9.23530083e-01, -4.75356845e-01, -9.36951078e-01,
         1.13223109e+00],
       [-1.14581896e-02, -3.89829366e-01,  4.09506590e-02,
        -2.82193015e-01],
       [ 9.00613703e-01,  1.71597369e+00,  1.50780326e+00,
         3.59505040e-01],
       [-1.14581896e-02, -7.28602426e-01, -4.48000209e-01,
        -5.80903963e-01],
       [-1.37956603e+00, -4.98392101e-01, -9.36951078e-01,
         1.21891510e+00],
       [ 9.00613703e-01,  3.66969847e-01,  5.29901527e-01,
        -3.78937922e-01],
       [ 4.44577757e-01, -1.80329437e-01,  1.18183602e+00,
        -1.84463936e+00],
       [-4.67494136e-01, -2.46907943e-01, -4.48000209e-01,
         4.13041539e-01],
       [ 1.81268560e+00,  9.99785669e-01,  1.01885240e+00,
         1.60095792e-02],
       [-4.67494136e-01, -1.25834765e+00, -6.10983832e-01,
        -1.64917471e+00],
       [-1.37956603e+00, -1.19418153e+00, -1.26291832e+00,
        -7.91722358e-01],
       [-1.14581896e-02,  1.42533343e+00,  5.29901527e-01,
         1.46768743e+00],
       [-1.83560198e+00, -1.82147239e+00, -1.91485281e+00,
        -1.93098767e+00],
       [ 1.35664965e+00, -1.69191992e-01,  2.03934282e-01,
        -6.87740989e-02],
       [ 1.35664965e+00,  1.77696159e+00,  1.34481964e+00,
         6.18367548e-01],
       [ 4.44577757e-01,  8.40305775e-01,  2.03934282e-01,
         1.17635242e+00],
       [ 1.35664965e+00,  1.13982427e+00,  1.18183602e+00,
        -1.58285113e-02],
       [ 1.35664965e+00,  1.45784864e+00,  1.34481964e+00,
         3.51067865e-01],
       [-1.14581896e-02, -5.49632005e-01, -9.36951078e-01,
         6.79920391e-01],
       [ 1.35664965e+00,  1.70222693e+00,  1.34481964e+00,
         8.58223289e-01],
       [ 4.44577757e-01,  7.33088724e-01,  5.29901527e-01,
        -1.91768281e-01],
       [-1.14581896e-02, -2.88837469e-01,  4.09506590e-02,
        -4.71962661e-01],
       [-1.14581896e-02,  8.56673144e-02, -1.22032964e-01,
         4.76856798e-01],
       [ 9.00613703e-01,  7.55566013e-01,  5.29901527e-01,
        -1.80864697e-01],
       [ 2.72475749e+00,  1.10495684e+00,  3.13763949e+00,
        -1.05309542e+00],
       [-1.83560198e+00, -1.38123699e+00, -1.42590195e+00,
        -5.20448159e-01],
       [-1.14581896e-02, -8.17417530e-01,  5.29901527e-01,
        -2.14104353e+00],
       [-9.23530083e-01, -8.24807848e-01, -7.73967455e-01,
        -9.77919137e-01],
       [ 1.35664965e+00,  7.35632394e-01,  1.50780326e+00,
        -7.33507390e-01],
       [-1.14581896e-02,  1.26533386e+00,  8.55868773e-01,
         8.43303568e-01],
       [-9.23530083e-01, -1.80592009e-01, -7.73967455e-01,
         1.67338871e+00],
       [ 4.44577757e-01, -3.87641263e-01, -2.85016587e-01,
         3.86364923e-01],
       [-4.67494136e-01,  3.06857185e-01, -1.22032964e-01,
         3.86065186e-01],
       [ 4.44577757e-01, -1.78026101e-02, -4.48000209e-01,
         5.99729886e-01],
       [-1.14581896e-02, -1.24486894e+00, -1.09993470e+00,
        -9.21798732e-01],
       [-9.23530083e-01, -5.45545722e-01, -6.10983832e-01,
         3.78811545e-01],
       [-4.67494136e-01, -1.36362276e+00, -7.73967455e-01,
        -2.28880201e+00],
       [ 9.00613703e-01,  8.78105256e-01,  6.92885150e-01,
         3.08738114e-01],
       [-1.37956603e+00, -1.13084142e+00, -1.42590195e+00,
         1.56910065e-01],
       [ 9.00613703e-01,  4.35988088e-01,  1.01885240e+00,
        -1.20540434e-01],
       [-4.67494136e-01, -2.69877555e-01, -4.48000209e-01,
         6.27629429e-01],
       [ 4.44577757e-01,  6.00774131e-01,  4.09506590e-02,
         3.59556424e-01],
       [ 4.44577757e-01, -1.28241643e-01, -2.85016587e-01,
         7.09193929e-01],
       [-1.37956603e+00, -1.47375546e+00, -1.58888557e+00,
         5.06091970e-01],
       [-9.23530083e-01, -6.16883353e-01, -6.10983832e-01,
        -1.34866162e-01],
       [-1.83560198e+00, -1.56775090e+00, -1.75186919e+00,
         4.16170795e-01],
       [-9.23530083e-01, -8.33390682e-01, -9.36951078e-01,
         5.95006027e-01],
       [-9.23530083e-01, -8.84023388e-01, -7.73967455e-01,
        -1.80234392e-01],
       [-4.67494136e-01, -3.18907475e-01, -2.85016587e-01,
         4.88755167e-01],
       [-1.14581896e-02, -4.31075109e-01,  5.29901527e-01,
        -1.51968102e+00],
       [-4.67494136e-01, -1.81467250e-01, -4.48000209e-01,
         4.12573948e-01],
       [ 4.44577757e-01,  4.54948001e-01,  1.34481964e+00,
        -1.03187184e+00],
       [-1.14581896e-02, -7.37195843e-02, -2.85016587e-01,
         2.42889095e-01],
       [-1.14581896e-02,  1.17224101e+00,  6.92885150e-01,
         1.02674276e+00],
       [ 1.35664965e+00,  1.29276209e-01,  4.09506590e-02,
         4.42140031e-01],
       [-1.37956603e+00, -8.63849077e-01, -1.26291832e+00,
         2.27911824e-01],
       [ 2.26872154e+00,  3.94217164e+00,  2.32272138e+00,
         1.63947284e+00],
       [-4.67494136e-01, -6.71897735e-01, -2.85016587e-01,
        -1.13403429e+00],
       [ 9.00613703e-01,  1.40985807e+00,  1.34481964e+00,
        -2.17333867e-03],
       [-1.37956603e+00, -1.18301673e+00, -7.73967455e-01,
        -1.56346185e+00],
       [ 1.35664965e+00,  1.26032310e+00,  1.18183602e+00,
         2.53737186e-01],
       [-4.67494136e-01, -4.90416465e-01, -7.73967455e-01,
         9.33253517e-01],
       [ 1.81268560e+00, -2.83837653e-01,  2.03934282e-01,
        -5.75024317e-01],
       [-1.14581896e-02,  1.08884146e+00,  8.55868773e-01,
         4.98524204e-01],
       [-1.14581896e-02,  5.12817857e-01,  3.66917905e-01,
         1.05633414e-01],
       [-1.83560198e+00, -1.57924938e+00, -1.75186919e+00,
         2.64959348e-01],
       [-1.83560198e+00, -1.77419842e+00, -1.42590195e+00,
        -3.10427916e+00],
       [-1.14581896e-02, -4.45576405e-02, -4.48000209e-01,
        -6.81950065e-02],
       [ 4.44577757e-01,  6.98812090e-01,  6.92885150e-01,
        -2.21444549e-03],
       [ 4.44577757e-01,  1.29259798e-01, -2.85016587e-01,
         4.56503440e-01],
       [ 9.00613703e-01,  1.04510128e+00,  6.92885150e-01,
         1.07840171e+00],
       [ 2.72475749e+00,  2.27953058e+00,  2.48570500e+00,
         2.48963189e-01],
       [-1.14581896e-02, -8.70435268e-01, -4.48000209e-01,
        -1.08650555e+00],
       [-4.67494136e-01,  1.36321901e-01, -6.10983832e-01,
         1.55590370e+00],
       [-9.23530083e-01, -7.63048639e-01, -7.73967455e-01,
        -3.80890496e-01],
       [-1.14581896e-02, -2.95604177e-01,  2.03934282e-01,
        -5.21397726e-01],
       [ 1.35664965e+00, -1.78048339e-01,  2.03934282e-01,
        -4.65452368e-01],
       [ 1.35664965e+00,  7.30238720e-01,  1.18183602e+00,
        -2.27395051e-01],
       [ 4.44577757e-01,  1.26251668e+00,  1.01885240e+00,
         3.19199801e-01],
       [-1.14581896e-02, -2.07664314e-01, -4.48000209e-01,
         7.84700260e-02],
       [ 1.81268560e+00,  1.77279325e+00,  2.81167225e+00,
        -9.56513901e-01],
       [-4.67494136e-01, -5.80921879e-01, -2.85016587e-01,
        -3.47547724e-01],
       [-9.23530083e-01, -6.38321293e-01, -7.73967455e-01,
         2.31484692e-01],
       [-4.67494136e-01,  8.67864934e-01, -1.22032964e-01,
         1.88328871e+00],
       [ 4.44577757e-01,  5.83132550e-01,  1.18183602e+00,
        -1.11675743e+00],
       [-1.14581896e-02,  8.01078557e-01,  3.66917905e-01,
         7.71999674e-01],
       [-1.14581896e-02,  9.17928732e-01,  3.66917905e-01,
         7.21730140e-01],
       [ 4.44577757e-01, -6.92323677e-01, -4.48000209e-01,
        -9.26004645e-01],
       [ 1.35664965e+00,  1.28043724e+00,  1.18183602e+00,
         2.34691881e-01],
       [-1.14581896e-02, -3.14739139e-01, -1.22032964e-01,
        -5.86083422e-01],
       [ 2.26872154e+00,  1.50060964e+00,  2.15973776e+00,
        -1.56202658e-01],
       [-9.23530083e-01, -6.21418196e-01, -1.22032964e-01,
        -1.11469524e+00],
       [-4.67494136e-01, -5.23779567e-01, -6.10983832e-01,
        -1.64396276e-01],
       [-4.67494136e-01, -4.14910498e-01, -6.10983832e-01,
        -5.85047530e-01],
       [ 4.44577757e-01,  1.01481829e-01,  2.03934282e-01,
        -1.83855218e-01],
       [ 4.44577757e-01, -6.54868465e-02,  3.66917905e-01,
        -9.34065060e-02],
       [-1.14581896e-02,  8.27899231e-01,  6.92885150e-01,
        -9.89731064e-03],
       [-1.14581896e-02,  2.09459246e-01, -1.22032964e-01,
         3.79655605e-01],
       [ 9.00613703e-01, -4.05534119e-02, -2.85016587e-01,
         9.52224316e-01],
       [-9.23530083e-01, -2.35190294e-02, -6.10983832e-01,
         1.56428435e+00],
       [-9.23530083e-01, -9.33047837e-01, -9.36951078e-01,
         6.73848913e-01],
       [-1.14581896e-02,  6.26413229e-01, -2.85016587e-01,
         1.72994074e+00],
       [ 1.35664965e+00,  1.99336499e+00,  1.34481964e+00,
         7.38915875e-01],
       [-1.14581896e-02, -4.50806329e-01, -2.85016587e-01,
        -7.78241375e-01],
       [-1.14581896e-02, -2.64921502e-01,  2.03934282e-01,
        -7.39222779e-01],
       [-1.14581896e-02, -2.56743467e-01, -2.85016587e-01,
         1.64449056e-01],
       [-4.67494136e-01, -7.62879061e-01, -7.73967455e-01,
         2.06258806e-01],
       [-4.67494136e-01, -2.50551135e-01, -2.85016587e-01,
        -1.18176792e-01],
       [ 9.00613703e-01,  2.19825385e-01,  2.03934282e-01,
        -3.68024060e-01],
       [ 4.44577757e-01,  3.11233391e-01,  6.92885150e-01,
        -5.50493820e-01],
       [-4.67494136e-01,  8.29053455e-01, -1.22032964e-01,
         2.08960385e+00],
       [-9.23530083e-01, -8.41689063e-01, -6.10983832e-01,
        -6.43076662e-01],
       [-1.37956603e+00, -1.38697529e+00, -1.58888557e+00,
        -4.61100183e-01],
       [-4.67494136e-01, -8.13993149e-01, -6.10983832e-01,
        -3.04205718e-01],
       [-1.14581896e-02,  7.06366516e-01,  5.29901527e-01,
         3.56117838e-01]])

# Calculate similarity matrix

In [108]:
similarity_matrix = cosine_similarity(normalized_features)

In [109]:
similarity_matrix

array([[ 1.        ,  0.12110565, -0.46189425, ...,  0.58912645,
         0.52377309, -0.46870453],
       [ 0.12110565,  1.        ,  0.81616442, ...,  0.82407121,
         0.90121803, -0.87028969],
       [-0.46189425,  0.81616442,  1.        , ...,  0.42548643,
         0.51225317, -0.46417099],
       ...,
       [ 0.58912645,  0.82407121,  0.42548643, ...,  1.        ,
         0.97023258, -0.80753581],
       [ 0.52377309,  0.90121803,  0.51225317, ...,  0.97023258,
         1.        , -0.90642547],
       [-0.46870453, -0.87028969, -0.46417099, ..., -0.80753581,
        -0.90642547,  1.        ]])

# Recommendation Function

In [110]:
def recommend_similar_customers(customer_id, top_n=3):
    
    customer_index = Customers_features[Customers_features['CustomerID'] == customer_id].index[0]
    
    
    similarity_scores = list(enumerate(similarity_matrix[customer_index]))
    
    
    sorted_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    
    
    top_customers = sorted_scores[1:top_n + 1]  
    similar_customers = [(customer_features.iloc[i[0]]['CustomerID'], i[1]) for i in top_customers]
    
    return similar_customers

In [ ]:
def lookalike_model(customer_id, num_recommendations):

   

    customer_index = customer_transactions[customer_transactions['CustomerID'] == customer_id].index[0]



    

    similarity_scores = similarity[customer_index]



   
    top_similar_customers = customer_transactions.iloc[np.argsort(-similarity_scores)[:num_recommendations+1]]



    

    top_similar_customers = top_similar_customers[top_similar_customers['CustomerID'] != customer_id]

    return top_similar_customers[['CustomerID','TransactionHistory']].values.tolist() # This line was incorrectly indented
    

lookalike_recommendations = {}


for customer_id in customers['CustomerID'][:20]:              
    lookalike_recommendations[customer_id] = lookalike_model(customer_id, 3)


pd.DataFrame(list(lookalike_recommendations.items()), columns=['CustomerID', 'LookalikeCustomers']).to_csv('Lookalike.csv', index=False)